.custom-navbar {
  background-color: transparent;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.contact {
  float: right;
}

/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: row;
} */

.ant-menu-horizontal {
  display: flex;
  justify-content: space-between; /* Logo on left, Contact Us on right */
  padding: 0px 24px;
  align-items: center;
  height: 100%;
}

.ant-menu-horizontal .ant-menu-item {
  margin: 0 35px;
}

@media (max-width: 767px) {
  .navbar .ant-menu-horizontal .ant-menu-item {
    margin: 10px 0;
  }
}
